/*--------------------------------------*\
  Type
\*--------------------------------------*/

// Headings
h1, .alpha {
  font-size: $h1-size;
}

h2, .beta {
  font-size: $h2-size;
}

h3, .gamma {
  font-size: $h3-size;
}

h4, .delta {
  font-size: $h4-size;
}

h5, .epsilon {
  font-size: $h5-size;
}

h6, .zeta {
  font-size: $h6-size;
}
